{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h6>Edit Event {{ event.id }}</h6>

    {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('events_index') }}">back to list</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
