<form method="post" action="{{ path('node_command_delete', {'id': node_command.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ node_command.id) }}">
    <button class="btn">Delete</button>
</form>
