{% extends 'base.html.twig' %}

{% block title %}Edit NodeCommand{% endblock %}

{% block body %}
    <h1>Edit NodeCommand</h1>

    {{ include('node_command/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('node_command_index') }}">back to list</a>

    {{ include('node_command/_delete_form.html.twig') }}
{% endblock %}
