{% extends 'base.html.twig' %}

{% block title %}New NodeCommand{% endblock %}

{% block body %}
    <h1>Create new NodeCommand</h1>

    {{ include('node_command/_form.html.twig') }}

    <a href="{{ path('node_command_index') }}">back to list</a>
{% endblock %}
