{% extends 'base.html.twig' %}

{% block title %}New EventFertilize{% endblock %}

{% block body %}
    <h1>Create new EventFertilize</h1>

    {{ include('events/event_fertilize/_form.html.twig') }}

    <a href="{{ path('events_event_fertilize_index') }}">back to list</a>
{% endblock %}
