{% extends 'base.html.twig' %}

{% block title %}Edit EventFeed{% endblock %}

{% block body %}
    <h1>Edit EventFeed</h1>

    {{ include('events_event_feed/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('events_event_feed_index') }}">back to list</a>

    {{ include('events_event_feed/_delete_form.html.twig') }}
{% endblock %}
