{% extends 'base.html.twig' %}

{% block title %}New EventFeed{% endblock %}

{% block body %}
    <h1>Create new EventFeed</h1>

    {{ include('events/event_feed/_form.html.twig') }}

    <a href="{{ path('events_event_feed_index') }}">back to list</a>
{% endblock %}
